@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  background-color: rgb(51, 50, 50);
  height: 100%;
  margin: 0;
}
.big-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 100%;
  max-width: 672px;
  height: 100%;
  padding: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

a {
  color: white;
  margin-right: 15px;
}

header {
  margin-bottom: auto;
}
h2{
  margin: 0;
}

#right {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
.left {
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  border-bottom: 3px solid transparent;
  padding-bottom: 8px;
  padding-top: 0;
}

.left.bot {
  border-bottom: 3px solid white;
}

.left:hover {
  border-bottom: 3px solid rgb(145, 144, 144);
}
.container {
  text-align: center;
}

h1 {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  text-align: center;
  font-size: 39px;
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
}

.p1 {
  color: white;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
  margin-top: 0;
}

button {
  padding: 8px 16px;
  border-radius: 10px;
}
.button2 {
  margin: 0;
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

footer {
  margin-top: auto;
  text-align: center;
}

.ftr {
  font-family: "Roboto", sans-serif;
  color: rgb(139, 137, 139);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 16px;
}
.ftra {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: underline;
  margin: 0;
}

@media (max-width: 900px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
