@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  background-color: rgb(34, 33, 33);
  height: 100%;
}
.big-container{
    display: flex;
    flex-direction: column;

    height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  
}
a {
  color: white;
  margin-right: 15px;
}

header{
    margin-bottom: 140px;
}

#right{
    
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
.left{
    font-size: 16px;

    font-family: 'Roboto', sans-serif;

    border-bottom: 3px solid transparent;
    padding-bottom: 8px;
}

.left.bot{
    border-bottom: 3px solid white;
}

.left:hover{
    border-bottom: 3px solid rgb(145, 144, 144);
}


h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

p{
    color: white;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

button{
    padding: 15px;
    border-radius: 10px;
   
}
.button2{
color: black;
font-size: 18px;
font-family: 'Roboto', sans-serif;
}

.container{
text-align: center;
}